/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.cuerpo-panel {
    background-color: #f0f2f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

.nav-contenedor {
    background-color: white;
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.logo img {
    width: 120px;
}

.usuario-contenedor {
    display: flex;
    align-items: center;
    gap: 15px;
}

.info-usuario {
    text-align: right;
}

.info-usuario .nombre-usuario {
    font-weight: 600;
    color: #333;
    display: block;
}

.info-usuario p {
    font-size: 0.75rem;
    color: #fe4973;
    font-weight: bold;
}

.avatar-usuario i {
    font-size: 2.5rem;
    color: #333;
}

.btn-salir {
    color: #777;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 8px;
    transition: color 0.3s;
}

.btn-salir:hover {
    color: #fe4973;
}

/* MAIN */

.contenedor-panel {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    flex: 1;
}

.bienvenida h1 {
    color: #333;
    font-size: 1.8rem;
}

.bienvenida p {
    color: #666;
    margin-bottom: 30px;
}

/* TARJETAS */

.cuadricula-acciones {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.tarjeta-accion {
    background-color: white;
    border: none;
    border-radius: 15px;
    padding: 25px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 220px;
}

.tarjeta-accion:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(254, 73, 115, 0.2);
}

.icono-contenedor {
    width: 70px;
    height: 70px;
    background-color: #fff1f4;
    color: #fe4973;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2rem;
    margin-bottom: 20px;
    transition: 0.3s;
}

.tarjeta-accion:hover .icono-contenedor {
    background-color: #fe4973;
    color: white;
}

.tarjeta-accion h3 {
    color: #333;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.tarjeta-accion p {
    color: #777;
    font-size: 0.85rem;
    line-height: 1.4;
}

/* FOOTER */
.footer-simple {
    font-size: 0.85rem;
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

/* RESPONSIVE */
@media (max-width: 1000px) {
    .cuadricula-acciones { grid-template-columns: repeat(2, 1fr); }
}
@media (max-width: 600px) {
    .cuadricula-acciones { grid-template-columns: 1fr; }
}